footer {
   /* position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 5px 0; */
}
body{    
    margin: 0;
    font-family: sans-serif !important;
        font-family: Nunito !important;
    background-color: black;
    color:#9e9393 !important;
    letter-spacing: 1.8px !important; 
}
.card {
    background-color: black;
}
.bg-dark {
  background-color:#464040 !important;
}
.navbar-laravel {
    background-color:#464040 !important;
   }
   .navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.9);
}
.navbar-light .navbar-nav .nav-link {
   color: #9e9393 !important;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
  } 
  .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(144, 129, 129) !important;
}
#app ul li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 15px;
    border-right: 1px solid;
}
#app ul li:last-child {
    /*margin-right: 0;
    padding-right: 0;
    border-right: none;*/
}
#app, #app ul li {
    border-color: rgba(255,255,255,.2);
}

#header {
    padding:10px 0;
        margin-top: 60px;
}
.fl_left
{
float: left;
}
.fl_right
{
    float: right;
}
ul.inline {
    list-style: none;
   
}
.clear::before, .clear::after, .group::before, .group::after {
    display: table;
    content: "";
}
.hoc {
    display: block;
    margin: 0 auto;
}
.clear, .clear::after, .group, .group::after {
    clear: both;
}
div#logo {
    font-size: 30px;
    letter-spacing: 2px;
}
.pt-4, .py-4 {
    padding-top: 0rem!important;
}
.nospace
{
    margin: auto !important;
}
.wrapper {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
}
.overlay {
    color: #FFFFFF;
    background-color: inherit;
}
.bgded {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
#pageintro {
    padding: 180px 0;
    text-align: right;
}
#pageintro footer1 {
    margin-top: 50px;
}
#pageintro article {
    display: block;
    float: right;
    max-width: 65%;
}
.pushright li {
    margin-right: 20px;
}
#pageintro .btn {
    display: inline-block;
    padding: 8px 18px 10px;
    text-transform: uppercase;
    border: 1px solid;
}
.btn:hover, .btn.inverse:hover {
    color: #FFFFFF;
    background-color: #000;
    border-color: #fff;
}
.btn, .btn.inverse {
    color: inherit;
    background-color: transparent;
    border-color: inherit;
    color: black;
    background-color: transparent;
    border-color: inherit;
}
article h1.heading.text-center {
    color: black;
    font-family: cursive;
}
article p.text-center {
    color: black;
}
ul.nospace.inline.pushright {
    display: inline-flex;
}
  @font-face{
     font-family:'digital-clock-font';
     src: url('../assets/digital-7.ttf');
    }
    span#timer {
    color: indianred;
    font-family: digital-clock-font;
    font-size: large;
    letter-spacing: 2px;
    display: flex;
  
    margin-top: 40px;
    }
    a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}
.btmspace-30 {
    margin-bottom: 30px;
}
.nospace {
    margin: 0;
    padding: 0;
    list-style: none;
}
#footer .linklist li::before, #footer .linklist li::after {
    display: table;
    content: "";
}
#footer .contact.linklist li, #footer .contact.linklist li:last-child {
    position: relative;
    padding-left: 40px;
}
#footer hr, #footer .borderedbox, #footer .linklist li {
    border-color: rgba(255,255,255,.1);
}
#footer .linklist li, #footer .linklist li::after {
    clear: both;
}
#footer .linklist li:last-child {
    margin: 0;
    padding: 0;
    border: none;
}
#footer .linklist li {
    display: block;
    margin-bottom: 15px;
    padding: 0 0 15px 0;
    border-bottom: 1px solid;
}
#footer hr, #footer .borderedbox, #footer .linklist li {
    border-color: rgba(255,255,255,.1);
}
div#footer {
    background-color: #0e0e0e;
    padding-bottom: 10px;
    padding-top: 30px;
}
.object-center
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
button, input, optgroup, select, textarea {
    margin: 15px !important;
}
input.btn.btn-primary {
    color: #fff;
    background-color: #3490dc;
    border-color: #3490dc;
}
#backtotop.visible {
    visibility: visible;
    opacity: .5;
}
#backtotop {
    color: #0a0a0a;
    background-color: #ffffff;
}
#backtotop {
    z-index: 999;
    display: inline-block;
    position: fixed;
    visibility: hidden;
    bottom: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    opacity: .2;
}
#backtotop i {
    display: block;
    width: 100%;
    height: 100%;
    line-height: inherit;
}
.footer-form
{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
   
}
.events:hover {
    box-shadow: 0px 0px 1px 1px #111;
}
.profile_img,.portimg
{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
h2.reqbtn {
    position: absolute;
    right: 50px;
    bottom: 370Px;
}
#app .dropdown li.nav-item
{
display: block;
}
.nav-link1 {
    display: inline-block;
    padding: .5rem 1rem;

}
.count-badge {
 padding: 20px;
    box-shadow: 0px 0px 1px 1px #555;
    display: inline-flex;
    border-radius: 5px;
}
/*Tab */
.nav-tabs>li>a.active, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
@media screen and (max-width: 650px)
{
ul.nospace.inline.pushright {
    display: block;
}
.pushright li {
    margin-right: 0;
    }
}
@media screen and (max-width: 750px)
{
#pageintro article {
    max-width: none;
    text-align: left;
}
.app-icon
{
    width: 100px;
}
#header {
    margin-top: 80px;
}
}
@media screen and (min-width: 978px)
{
.hoc {
    max-width: 978px;
}
}
@media screen and (max-width: 900px)
{
.hoc {
    max-width: 90%;
}
}
@media (max-width: 767.98px)
{
    .navbar-collapse {
        border-top: 1px solid #6d6a6a;
    }
    #app ul li {
          border-right: none;
    }
}
