body {padding-top: 68px;}

@media (min-width: 992px) {
  body {
    padding-top: 68px;
  }
}
.verticalCenter {display: table;width: 100%;height: 100%;}
.verticalInner {display: table-cell;vertical-align: middle;}


.bg-header {
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.2);
}
/*button style*/
.btn-sky{background: #69d2e7; color: #fff; font-size: 16px;}
.btn-sky:hover{background: #5BB7C9;}

.btn-teal{background: #2f5972; color: #fff; font-size: 16px;}
.btn-teal:hover{background: #2A5066;}
.color-teal{color: #2f5972;}


hr.h-style1{width: 80px;height: 4px;background: #2f5972;margin-top: 5px;margin-bottom: 30px;float: left;}
hr.h-style2{width: 70px;height: 3px;background: #132d3e;margin-top: 5px;margin-bottom: 30px;float: left;}

.mtb-15{margin-top: 15px;margin-bottom: 15px;}
.mtb-30{margin-top: 30px;margin-bottom: 30px;}
.btn-min-w{width: 140px;}

/*navbar style*/
.navbar{
    padding:0 15px; 
}
.navbar .btn-sky{
    margin-left: 20px;
    font-size: 12px;
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link {
    color: #555;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #2f5972;
    background: #E8F8FB;
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show{
    color: #2f5972;
    background: #E8F8FB;
}
 .navbar-dark .navbar-nav .nav-link.active {
    color: #fff;
    background: #69d2e7;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-toggler {
    padding: 0;
    font-size: 1.25rem;
    line-height: 1;
    background-color:none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 53px;
    height: 39px;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.nav-link {
    display: block;
    padding: 26px 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(../images/burger-rmenu.png);
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0 0 0;
    font-size: 13px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #E8F8FB;
    border-radius: 0;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 10px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
@media(max-width:990px){
    .navbar .btn-sky{
        margin-left: 0px;
    }
    .nav-link {
        display: block;
        padding: 16px 20px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
    }
    .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
        color: #2f5972;
    }
    .heder-btn{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

/*carousel-item style*/
.carousel-item {
  height: 48vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-overlay{
    width: 100%;
    background: rgba(0,0,0,0.2);
    position: absolute;
    height: 100%;
    z-index: 1;
    color: #fff;
}

.portfolio-item {
  margin-bottom: 30px;
}
.home-content{
    padding-top: 60px;
    padding-bottom: 60px;
}


/*card srtye*/
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
} 


.card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
}
@media(max-width:1200px){
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}

@media(max-width:992px){
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}

@media(max-width:767px){
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}

p.card-text{font-size: 14px;}

.section-gray{
    background: #F1F1F1;
    padding-top: 60px;
    padding-bottom: 60px;
}

/*footer style*/

footer{
    background: #132d3e;
    padding-top: 50px;
    padding-bottom: 40px;
}
footer h5{font-size: 18px; color: #fff; margin-bottom: 20px;}
footer ul.footer-link{
    margin: 0;
    padding: 0;
}
footer ul.footer-link li{
    list-style: none;
    font-size: 14px;
    line-height: 30px;
}
footer ul.footer-link li a{
    color: #87949D;
}
footer ul.footer-link li a:hover{
    color: #fff;
    text-decoration: none;
}
footer p{color: #87949D;}

footer hr.footer-hr{margin-top: 30px; margin-bottom: 30px; background: #2E4554; }
footer .cust-form-control{
    width: 100%;
    height: 46px;
    padding: 0 20px;
    border-radius: 4px;
    border: 1px solid #687883;
    background: #2E4554;
    color: #87949D;
}
footer label{color: #687883;}
footer h4{color: #fff;}
footer .caopta-img{
    width: 100%;
    height: 46px;
    border: 1px solid #687883;
    overflow: hidden;
    background: #fff;
}

footer .social-section{
    width: 100%;
}
footer .social-section ul{
    margin: 0;
    padding: 0;
}
footer .social-section ul li{
    width: 44px;
    height: 44px;
   display: inline-block;
    border-radius: 100%;
    line-height: 44px;
    text-align: center;
    margin: 5px;
}
footer .social-section ul li a{
    color: #fff;
    display: block;
}
.social-section .fb{background: #3b5999;}
.social-section .tw{background: #55acee;}
.social-section .ld{background: #0077B5;}

.footer-bottom{
    width: 100%;
    height: 60px;
    text-align: center;
    color: #798892;
    font-size: 14px;
    line-height: 60px;
    background: #132d3e;
    border-top: 1px solid #2E4554;
}

.dv-reg{
    width: 100%;
    padding: 30px 40px 20px;
    background: #F1F1F1;
    border-radius: 4px;
}

.dv-reg .form-group label{font-size: 14px; font-weight: 600; color: #727272;}

.dv-reg .form-group label.error {
    font-size: 14px;
    font-weight: normal;
    color: #ff0000;
}

a.fb-login{
    width: 46px;
    height: 46px;
    background:#3b5999;
    color: #fff!important;
    font-size: 20px;
    display: inline-block;
    border-radius: 6px;
    text-align: center;
    line-height: 46px;
    cursor: pointer;
}
a.fb-login fa{color: #fff;}





.step-by-step {
    margin: 0 auto;
    max-width: 1000px;
}

.step-by-step ul {
    margin-right: 35px;
    position: relative;
}

.step-by-step ul li {
    list-style: none;
    position: relative;
    float: left;
    width: 33.3%;
    height: 36px;
    background: url("../images/step-img.png") no-repeat left -108px;
}

.step-by-step ul li.first-step {
    background-position: left 0;
}

.step-by-step ul li.last-step {
    position: absolute;
    right: -35px;
    top: 0;
    width: 36px;
    background-position: right 0;
}

.step-by-step ul li.step-current {
    background-position: left -144px;
}

.step-by-step ul li.step-current.first-step {
    background-position: left -36px;
}

.step-by-step ul li.step-current.last-step {
    background-position: right -36px;
}

.step-by-step ul li.step-ok {
    background-position: left -180px;
}

.step-by-step ul li.step-ok.first-step {
    background-position: left -72px;
}

.step-by-step ul li.step-ok.last-step {
    background-position: right -72px;
}

.step-by-step ul li span {
    position: absolute;
    left: -40px;
    top: 45px;
    width: 120px;
    font-weight: bold;
    text-align: center;
    line-height: 1.1;
    color: #b1b8bf;
    font-size: 14px;
}

.step-by-step ul li.step-current span {
    color: #4C5B6A;
}

.step-by-step ul li.step-ok span {
    color: #999FA5;
    text-decoration: line-through;
}

.mt-80{margin-top: 80px;}

.bootstrap-select.btn-group > .dropdown-toggle {
    height: 100%;
    border: 1px solid #ced4da;
}


.breadcrumb {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.40rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
.breadcrumb li{
    font-size: 12px;
    text-transform: uppercase;
    color: #555555;
}
.breadcrumb li a{
    color: #727272;
}

.breadcrumb li.active{
    color: #2f5972;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #2f5972 ;
    border-color: #2f5972;
}
.list-group-item.active:hover {
    background-color: #2f5972 ;
    border-color: #2f5972;
    color: #fff;
}
a.list-group-item {
    color: #2f5972;
    text-transform: uppercase;
}
.list-group-item:hover {
    color: #2f5972;
    background: #F1F1F1;
}

.service-inner-dv{
    padding: 50px 40px 10px;
    min-height: 500px;
    background: #F1F1F1;
    border-radius: 4px;
}

.img-responsive{max-width: 100%;}




